*~
*.[oa]
*.exe
*.[ip]db
*.ilk
*.obj
*bld*
*build*
.DS_Store
BROWSE
.idea
.vs

cmake-build-*

dll.hpp
implementation_footer.hpp
implementation_header.hpp
version.cpp
version.hpp
version.rc
lib/dmitigr/pgfe/defaults.hpp

doxygen
Doxyfile
